.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: brown;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1rem;
  z-index: 1;  
}

.header__logo {
  color: #fff;
  padding: 0 3rem;
  font-size: clamp(1.6rem, 2.5vw, 2.4rem);
}

.header__category {
  font-size: clamp(1.6rem, 2.5vw, 2rem);
  color: #fff;
  cursor: pointer;

}

.header__category i {
  margin-left: .8rem;
}

.header__category .genres{
  background-color: #000000ea;
  color: #fff;
  top: 105%;
  left: 28%;
  right: 28%;
  padding: 1.6rem;
  border-radius: .4rem;
  position: absolute;
  display: none;
  justify-content: center;

  z-index: 9999;
}

.header__category .genres__list {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  list-style: none;
  padding: 1rem;
}

.header__category .genres__list li {
  cursor: pointer;
  text-align: justify;
  font-size: clamp(1.4rem, 2.5vw, 1.8rem); 
  transition: all .4s ease-in-out;
  height: 3rem;
  display: flex;
  align-items: center;
  border-radius: .4rem;
}

.header__category .genres__list li:hover {
  font-weight: 600;
  background-color: brown;
  padding-left: .8rem;
}

.header__category .genres--open {
  display: flex;
}

.header__search {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header__search input {
  padding: 0 3.5rem 0 1rem;
  height: 3rem;
  width: 20rem;
  outline: none;
  border: none;
  border-radius: 5rem;
}

.header__search button {
  position: absolute;
  height: 100%;
  width: 3rem;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  background-color: #fff;
}


